html, body {
  margin: 0;
  padding: 0;
}

#front-page { 
	overflow: hidden;
	height: 100vh;
	font-family: Oxygen, 'Helvetica', sans-serif;;
 	margin-bottom: 60px;
}

h1 {
	padding-top: 0;
	margin-top: 0;
 	margin-bottom: 0; 
 	font-size: 10vh; 
 	font-weight: bold;
 	font-family: 'Oxygen','Helvetica', sans-serif;
 	text-align: left;
 }


